body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.vanilla-weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.vanilla-weather-app {
  padding: 50px;
  border: 1px solid #885df8;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-outlook img {
  height: 64px;
  margin-right: 5px;
  width: 64px;
}

.weather-outlook strong {
  color: #645fce;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-outlook .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

.weather-outlook .active {
  color: #645fce;
  cursor: default;
}

.weather-outlook .active:hover {
  text-decoration: none;
}

h1 {
  color: #885df8;
  font-size: 24px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #885df8;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  text-transform: capitalize;
}
