html {
  height: 100%;
}
body {
  background: radial-gradient(
    circle at 4.3% 10.7%,
    rgb(138, 118, 249) 13.6%,
    rgb(75, 252, 235) 100.7%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Inconsolata", monospace;
  height: 100%;
  margin: 0;
}

.vanilla-weather-app-wrapper {
  max-width: 700px;
  margin: 100px auto;
}

.vanilla-weather-app {
  background-color: #f6f4ff;
  border: 5px solid #fa86be;
  border-radius: 10px;
  padding: 60px;
}

#city-input {
  border-color: #fa86be;
}

.btn {
  background-color: #fa86be;
  border-color: #fa86be;
}

.btn:hover {
  background-color: transparent;
  border-color: #fa86be;
}

.overview {
  margin-bottom: 20px;
}

.weather-outlook img {
  height: 64px;
  margin-right: 5px;
  width: 64px;
}

.weather-outlook strong {
  color: #885df8;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-outlook .units {
  font-size: 20px;
  position: relative;
  top: -25px;
}

.weather-outlook .active {
  color: #885df8;
  cursor: default;
}

.weather-outlook .active:hover {
  text-decoration: none;
}

h1 {
  color: #885df8;
  font-size: 50px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #885df8;
  font-size: 20px;
  font-weight: bolder;
  line-height: 20px;
  text-transform: capitalize;
}

.weather-forecast {
  color: #000;
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  color: rgb(138, 118, 249);
  font-size: 16px;
  opacity: 0.5;
}

#forecast {
  background-color: rgb(248, 233, 248, 0.75);
}

.weather-forecast-temperatures {
  color: rgb(138, 118, 249);
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

p {
  display: block;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#code-creator {
  color: #4efaea;
  font-family: "La Belle Aurore", cursive;
  font-size: 16px;
  text-decoration: none;
}

#github-link {
  color: #4efaea;
  text-decoration: none;
}

#netlify-link {
  color: #4efaea;
  text-decoration: none;
}
